@use './partials/typography' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;

.hero-shows {
  background-image: url(../assets/images/hero-shows.jpg);
  align-items: flex-start;
  flex-direction: column;
  min-height: 472px;
  padding-bottom: 0.5*$mobile-spacing;
  @include tablet {
    min-height: 670px;
    padding-bottom: 0;
  }
  @include desktop {
    max-height: 670px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &::after {
    bottom: 0;
  }
  &__content {
    z-index: 6;
    padding: 60px 0 18px 0;
    position: relative;
    box-sizing: border-box;
    @include tablet {
      width: 85%;
      padding-top: 90px;
    }
    @include desktop {
      max-width: 40vw;
      padding-top: 24px;
      position: static;
      width: 37.5em;
    }
  }
  &__subtitle {
    font-size: 12px;
    z-index: 7;
    color: white;
    padding: 0 $mobile-spacing;
    @include tablet {
      font-size: 24px;
      line-height: 32px;
      padding: 0 $tablet-spacing;
    }
    @include desktop {
      font-size: 24px;
      line-height: 26px;
      padding: 0 160px;
      position: absolute;
      top: 160px;
    }
    @include desktop-xl {
      padding: 0 $desktop-xl-side-spacing;
    }
  }
  &__title {
    font-size: 36px;
    line-height: 44px;
    z-index: 5;
    color: white;
    padding: 0 $mobile-spacing;
    @include tablet {
      font-size: 60px;
      line-height: 82px;
      padding: $tablet-spacing;
    }
    @include desktop {
      padding: 160px;
      width: 100%;
      position: static;
      font-size: 55px;
    }
    @include desktop-xl {
      padding: $desktop-xl-side-spacing;
      line-height: 80px;
    }
  }
  &__soundcloud {
    width: 90%;
    max-height: 7.5em;
    margin: auto;
    z-index: 2;
    @include tablet {
      max-height: 143px;
      width: 57%;
      margin: 0 24px;
    }
    @include desktop {
      width: 24.0625em;
      height: 8.125em;
      margin: 2*$desktop-spacing 0 0 1.5*$desktop-spacing;
    }
    @include desktop-xl {
      width: 27.25em;
      height: 9.125em;
    }
  }
}
.shows {
  padding: $mobile-spacing;
  @include tablet {
    padding: $tablet-spacing;
  }
  @include desktop {
    @include flex-container($spacing: space-between);
    padding: 1.5*$desktop-spacing 9.375em $desktop-spacing 9.375em;
  }
  @include desktop-xl {
    padding: 1.5*$desktop-spacing $desktop-xl-side-spacing 0.5*$desktop-spacing $desktop-xl-side-spacing;
  }
  &__title {
    line-height: 2em;
    padding-bottom: 12px;
    font-weight: 900;
    @include tablet {
      padding-bottom: 1.5*$tablet-spacing;
    }
    @include desktop{
      line-height: 0.5em;
    }
  }
  &__wrap {
    margin-bottom: $tablet-spacing;
  }
  &__row {
    border-bottom: 1px solid $grey-med;
    padding: 8px 0 5px 0; 

    @include tablet {
      @include flex-container($align: center, $spacing: flex-start);
      border-bottom: 1px solid $grey-med;
    }
    @include desktop {
      width: 56.25vw;
      padding: 2px 0;
      position: relative;
      
    }
    @include desktop-xl {
      width: 50.25em;
      padding: 2px 0;
    }
  }
  &__content {
    @include mobile-large {
      text-align: center;
    }
    @include tablet {
      width: 25%;
      text-align: left;
    }
  }
  &__heading {
    color: $grey-dark;
    font-weight: 600;
    padding-top: 0.75rem;
    @include tablet {
      display: none;
    }
  }
  &__text {
    @include tablet {
      padding-right:8px;
    }
    @include desktop {
      font-size: 0.875em;
      margin-left: 0;   
    }
    @include desktop-xl {
      margin-left: 10px;
    }
  }
  &__button {
    width: 100%;
    @include mobile-large {
      width: 70%;
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    @include tablet {
      width: 160px;
      margin-right: 0;
      padding: 0.95rem;
    }
    @include desktop {
      margin-left: 20px;
      padding: 0.85rem;
    }
    @include desktop-xl {
      width: 180px;
    }
    &:hover {
      background-color: #000000;
    }
    &:focus {
      outline: #000000;
    }
  }
}
.shows__row:first-of-type .shows__heading {
  @include tablet {
    display: block;
    margin: -45px 0 35px 0;
    font-size: 0.75em;
  }
  @include desktop-xl {
    margin-left: 10px;
  }
}
.shows__content:first-of-type .shows__heading {
  @include tablet {
    margin-bottom: 43px;
  }
  @include desktop {
    margin-left: 0;
    bottom: 38px;
    position: absolute;
  }
}
.shows__content:first-of-type .shows__text {
  font-weight: 600;
  font-size: 0.9em;
  line-height: 0.4em;
  @include tablet {
    font-size: 1em;
  }
  @include desktop {
    margin-left: 0;
  }
}