@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Linotype-Avenir-Next-LT-Pro-Bold.ttf") format("truetype"), url("../../assets/fonts/Linotype-AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Linotype-Avenir-Next-LT-Pro-Demi.ttf") format("truetype"), url("../../assets/fonts/Linotype-AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Linotype-AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
.hero-shows {
  background-image: url(../assets/images/hero-shows.jpg);
  align-items: flex-start;
  flex-direction: column;
  min-height: 472px;
  padding-bottom: 8px;
}
@media (min-width: 768px) {
  .hero-shows {
    min-height: 670px;
    padding-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .hero-shows {
    max-height: 670px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.hero-shows::after {
  bottom: 0;
}
.hero-shows__content {
  z-index: 6;
  padding: 60px 0 18px 0;
  position: relative;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .hero-shows__content {
    width: 85%;
    padding-top: 90px;
  }
}
@media (min-width: 1280px) {
  .hero-shows__content {
    max-width: 40vw;
    padding-top: 24px;
    position: static;
    width: 37.5em;
  }
}
.hero-shows__subtitle {
  font-size: 12px;
  z-index: 7;
  color: white;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .hero-shows__subtitle {
    font-size: 24px;
    line-height: 32px;
    padding: 0 24px;
  }
}
@media (min-width: 1280px) {
  .hero-shows__subtitle {
    font-size: 24px;
    line-height: 26px;
    padding: 0 160px;
    position: absolute;
    top: 160px;
  }
}
@media (min-width: 1440px) {
  .hero-shows__subtitle {
    padding: 0 180px;
  }
}
.hero-shows__title {
  font-size: 36px;
  line-height: 44px;
  z-index: 5;
  color: white;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .hero-shows__title {
    font-size: 60px;
    line-height: 82px;
    padding: 24px;
  }
}
@media (min-width: 1280px) {
  .hero-shows__title {
    padding: 160px;
    width: 100%;
    position: static;
    font-size: 55px;
  }
}
@media (min-width: 1440px) {
  .hero-shows__title {
    padding: 180px;
    line-height: 80px;
  }
}
.hero-shows__soundcloud {
  width: 90%;
  max-height: 7.5em;
  margin: auto;
  z-index: 2;
}
@media (min-width: 768px) {
  .hero-shows__soundcloud {
    max-height: 143px;
    width: 57%;
    margin: 0 24px;
  }
}
@media (min-width: 1280px) {
  .hero-shows__soundcloud {
    width: 24.0625em;
    height: 8.125em;
    margin: 80px 0 0 60px;
  }
}
@media (min-width: 1440px) {
  .hero-shows__soundcloud {
    width: 27.25em;
    height: 9.125em;
  }
}

.shows {
  padding: 16px;
}
@media (min-width: 768px) {
  .shows {
    padding: 24px;
  }
}
@media (min-width: 1280px) {
  .shows {
    display: flex;
    justify-content: space-between;
    padding: 60px 9.375em 40px 9.375em;
  }
}
@media (min-width: 1440px) {
  .shows {
    padding: 60px 180px 20px 180px;
  }
}
.shows__title {
  line-height: 2em;
  padding-bottom: 12px;
  font-weight: 900;
}
@media (min-width: 768px) {
  .shows__title {
    padding-bottom: 36px;
  }
}
@media (min-width: 1280px) {
  .shows__title {
    line-height: 0.5em;
  }
}
.shows__wrap {
  margin-bottom: 24px;
}
.shows__row {
  border-bottom: 1px solid #E1E1E1;
  padding: 8px 0 5px 0;
}
@media (min-width: 768px) {
  .shows__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #E1E1E1;
  }
}
@media (min-width: 1280px) {
  .shows__row {
    width: 56.25vw;
    padding: 2px 0;
    position: relative;
  }
}
@media (min-width: 1440px) {
  .shows__row {
    width: 50.25em;
    padding: 2px 0;
  }
}
@media (min-width: 440px) {
  .shows__content {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .shows__content {
    width: 25%;
    text-align: left;
  }
}
.shows__heading {
  color: #AFAFAF;
  font-weight: 600;
  padding-top: 0.75rem;
}
@media (min-width: 768px) {
  .shows__heading {
    display: none;
  }
}
@media (min-width: 768px) {
  .shows__text {
    padding-right: 8px;
  }
}
@media (min-width: 1280px) {
  .shows__text {
    font-size: 0.875em;
    margin-left: 0;
  }
}
@media (min-width: 1440px) {
  .shows__text {
    margin-left: 10px;
  }
}
.shows__button {
  width: 100%;
}
@media (min-width: 440px) {
  .shows__button {
    width: 70%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
@media (min-width: 768px) {
  .shows__button {
    width: 160px;
    margin-right: 0;
    padding: 0.95rem;
  }
}
@media (min-width: 1280px) {
  .shows__button {
    margin-left: 20px;
    padding: 0.85rem;
  }
}
@media (min-width: 1440px) {
  .shows__button {
    width: 180px;
  }
}
.shows__button:hover {
  background-color: #000000;
  cursor: pointer;
}
.shows__button:focus {
  outline: #000000;
}

@media (min-width: 768px) {
  .shows__row:first-of-type .shows__heading {
    display: block;
    margin: -45px 0 35px 0;
    font-size: 0.75em;
  }
}
@media (min-width: 1440px) {
  .shows__row:first-of-type .shows__heading {
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  .shows__content:first-of-type .shows__heading {
    margin-bottom: 43px;
  }
}
@media (min-width: 1280px) {
  .shows__content:first-of-type .shows__heading {
    margin-left: 0;
    bottom: 38px;
    position: absolute;
  }
}

.shows__content:first-of-type .shows__text {
  font-weight: 600;
  font-size: 0.9em;
  line-height: 0.4em;
}
@media (min-width: 768px) {
  .shows__content:first-of-type .shows__text {
    font-size: 1em;
  }
}
@media (min-width: 1280px) {
  .shows__content:first-of-type .shows__text {
    margin-left: 0;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__content-box {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 450px;
  height: 30%;
  top: 30%;
  position: relative;
}
.modal__content {
  text-align: center;
  margin: auto;
  padding: 3rem 2rem 2rem 2rem;
  max-width: 300px;
}
@media (min-width: 768px) {
  .modal__content {
    padding: 1.75rem;
  }
}
.modal__text {
  font-size: 1.25rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .modal__text {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
.modal__close {
  color: #aaaaaa;
  position: absolute;
  right: 1.5rem;
  font-size: 28px;
  font-weight: bold;
}
.modal__close:hover, .modal__close:focus {
  color: #000;
  cursor: pointer;
}
.modal__closeBtn {
  max-width: 180px;
}
.modal__closeBtn:hover, .modal__closeBtn:focus {
  background-color: #000;
  cursor: pointer;
}/*# sourceMappingURL=shows.css.map */