@use './partials/typography' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;
.hero__home {
  background-image: url(../assets/images/hero-home.jpg);
}
.about {
  padding: $mobile-spacing;
  @include tablet {
    padding: $tablet-spacing;
  }
  @include desktop {
    padding: $tablet-spacing 160px;
  }
  @include desktop-xl {
    padding: $tablet-spacing $desktop-side-spacing;
  }
  &__title {
    line-height: 2em;
    padding-bottom: 12px;
    font-weight: 900;
    @include tablet {
      font-size: 2.25em;
    }
    @include desktop {
      padding: 6px 0 28px 0;
    }
    @include desktop-xl {
      padding-bottom: 28px;
    }
  }
  &__img {
    width: 90vw;
    display: block;
    margin: auto;
    @include tablet {
      width: 94vw;
      min-height: 362px;
    }
    @include desktop {
      max-width: 62vw;
    }
    @include desktop-xl {
      min-height: 450px;
    }
  }
  &__quote {
    font-weight: 600;
    @include tablet {
      @include about-h4;
    }
    @include desktop {
      padding-left: 2*$desktop-spacing;
      width: 73%;
    }
    @include desktop-xl {
      padding-left: 90px;
    }
    &--name {
      font-weight: 600;
      font-size: 0.875em;
      padding-top: 6px;
      @include tablet {
        font-size: 1em;
      }
      @include desktop {
        padding-left: 2*$desktop-spacing;
      }
      @include desktop-xl {
        padding-left: 90px;
      }
    }
  }
  &__content-title {
    font-weight: 600;
    padding-top: 0.5*$mobile-spacing;
    @include tablet {
      @include about-h4;
      margin-bottom: 0;
    }
    @include desktop {
      padding-left: 2*$desktop-spacing;
    }
    @include desktop-xl {
      padding-left: 90px;
    }
  }
  &__content {
    @include tablet {
      @include flex-container($align: flex-start, $spacing: space-between);
    }
    @include desktop {
      @include flex-container($spacing: flex-start);
      padding: 0 2*$desktop-spacing;
    }
    @include desktop-xl {
      @include flex-container($align: flex-start, $spacing: space-evenly);
      padding-left: 73px;
    }
    &--text {
      line-height: 1.5em;
      padding-right: 1.5em;
      @include desktop {
        padding-right: 1.75em;
      }
      @include desktop-xl {
        width: 44%;
      }
    }
  }
}
.gallery {
  background-color: $grey-light;
  padding: 1.5*$mobile-spacing $mobile-spacing;
  @include tablet {
    padding: $tablet-spacing;
    margin-left: 0;
    margin-right: 0;
  }
  @include desktop {
    padding: 20px 120px;
  }
  @include desktop-xl {
    padding: 20px 160px;
  }
  &__title {
    @include tablet {
      padding: 10px 0;
    }
    @include desktop {
      padding: 20px 40px;
    }
    @include desktop-xl {
      padding: 20px 0 40px 0;
    }
  }
  &__images {
    @include flex-container($spacing: center, $wrap: wrap);
    padding-bottom: $mobile-spacing;
    @include tablet {
      padding-bottom: 0.5*$tablet-spacing;
    }
    @include desktop-xl {
      padding: $tablet-spacing 0;
    }
  }
  &__img {
    max-width: 90vw;
    margin-top: 16px;
    filter: grayscale(100%);
    @include tablet {
      max-width: 224px;
      margin: 8px;
    }
    @include desktop {
      max-width: 24vw;
      margin: 10px;
    }
    @include desktop-xl {
      max-width: 344px; // margin: 12px 0;
      margin: 12px;
    }
    &:hover {
      filter: none;
    }
  }
}
.comments {
  padding: $mobile-spacing;
  max-width: 100vw;
  box-sizing: border-box;
  @include tablet {
    padding: $tablet-spacing;
  }
  @include desktop {
    padding: $desktop-spacing 160px 0.5*$desktop-spacing 160px;
  }
  @include desktop-xl {
    padding: $desktop-spacing $desktop-side-spacing 0.5*$desktop-spacing $desktop-side-spacing;
  }
  &__form-wrap {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey-med;
    padding: $mobile-spacing 0;
    position: relative;
    @include tablet {
      padding-bottom: 86px;
    }
  }
  &__form-wrap, &__stream {
    @include tablet {
      width: 520px;
      margin: auto;
      box-sizing: border-box;
    }
  }
  &__form {
    width: 80%;
  }
  &__stream {
    @include tablet {
      padding-bottom: 0.5*$desktop-spacing;
    }
  }
  &__avatar {
    background-image: none;
    background-color: $grey-med;
    border-radius: 50%;
    height: 2.5em;
    min-width: 2.5em;
    &--form {
      background-image: url(../assets/images/mohan-muruge.jpg);
      @include background-img;
      background-position: left;
      margin-top: 40px;
      height: 3em;
      min-width: 3em;
    }
  }
  &__label {
    color: $grey-dark;
    font-weight: 600;
    margin-top: 1.25em;
  }
  &__user-name {
    height: 48px;
  }
  &__add-comment {
    height: 90px;
  }
  &__button {
    &:hover {
      background-color: #000000;
    }
    @include mobile-large {
      
    }
    @include tablet {
      position: absolute;
      // right: 124px;
      right: 0;
      width: 159px;
    }
    @include desktop {
      // right: 380px;
      width: 160px;
    }
    @include desktop-xl {
      // right: 460px;
    }
    &:focus {
      outline: #000000;
    }
  }
  &__container {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid $grey-med;
    padding: $mobile-spacing 0;
    @include tablet {
      padding: 24px 0 6px 0;
    }
  }
  &__block {
    max-width: 210px;
    padding-left: $mobile-spacing;
    @include tablet {
      max-width: 100%;
    }
    &--name, &--date {
      display: inline-block;
      vertical-align: middle;
      @include tablet {
        vertical-align: baseline;
        font-size: 16px;
      }
    }
    &--name {
      padding-bottom: 6px;
    }
    &--date {
      color: $grey-dark;
      font-size: 13px;
      position: absolute;
      right: 16px;
      @include tablet {
        position: static;
        padding-left: 10px;
        font-size: 14px;
      }
    }
    &--comment {
      @include tablet {
        margin-top: 0;
        line-height: 20px;
      }
    }
  }
}
input, textarea {
  // width: 224px;
  width: 100%;
  padding: 1.25em;
  margin: 0.5em 0;
  background-color: $grey-light;
  border: 1px solid $grey-med;
  border-radius: 4px;
  display: block;
  box-sizing: border-box;
  font-family: 'Avenir', 'Roboto', sans-serif;
  resize: none;
  @include tablet {
    width: 460px;
  }
  @include desktop {
    width: 460px;
  }
  &:focus {
    outline: none;
    border: 2px solid $black-primary;
    padding: 1.15em;
  }
  &::placeholder {
    color: $black-primary; 
  }
}