@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Linotype-Avenir-Next-LT-Pro-Bold.ttf") format("truetype"), url("../../assets/fonts/Linotype-AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Linotype-Avenir-Next-LT-Pro-Demi.ttf") format("truetype"), url("../../assets/fonts/Linotype-AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Linotype-AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
.hero__home {
  background-image: url(../assets/images/hero-home.jpg);
}

.about {
  padding: 16px;
}
@media (min-width: 768px) {
  .about {
    padding: 24px;
  }
}
@media (min-width: 1280px) {
  .about {
    padding: 24px 160px;
  }
}
@media (min-width: 1440px) {
  .about {
    padding: 24px 180px;
  }
}
.about__title {
  line-height: 2em;
  padding-bottom: 12px;
  font-weight: 900;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 2.25em;
  }
}
@media (min-width: 1280px) {
  .about__title {
    padding: 6px 0 28px 0;
  }
}
@media (min-width: 1440px) {
  .about__title {
    padding-bottom: 28px;
  }
}
.about__img {
  width: 90vw;
  display: block;
  margin: auto;
}
@media (min-width: 768px) {
  .about__img {
    width: 94vw;
    min-height: 362px;
  }
}
@media (min-width: 1280px) {
  .about__img {
    max-width: 62vw;
  }
}
@media (min-width: 1440px) {
  .about__img {
    min-height: 450px;
  }
}
.about__quote {
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__quote {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 900;
    padding-top: 12px;
  }
}
@media (min-width: 1280px) {
  .about__quote {
    padding-left: 80px;
    width: 73%;
  }
}
@media (min-width: 1440px) {
  .about__quote {
    padding-left: 90px;
  }
}
.about__quote--name {
  font-weight: 600;
  font-size: 0.875em;
  padding-top: 6px;
}
@media (min-width: 768px) {
  .about__quote--name {
    font-size: 1em;
  }
}
@media (min-width: 1280px) {
  .about__quote--name {
    padding-left: 80px;
  }
}
@media (min-width: 1440px) {
  .about__quote--name {
    padding-left: 90px;
  }
}
.about__content-title {
  font-weight: 600;
  padding-top: 8px;
}
@media (min-width: 768px) {
  .about__content-title {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 900;
    padding-top: 12px;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .about__content-title {
    padding-left: 80px;
  }
}
@media (min-width: 1440px) {
  .about__content-title {
    padding-left: 90px;
  }
}
@media (min-width: 768px) {
  .about__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .about__content {
    display: flex;
    justify-content: flex-start;
    padding: 0 80px;
  }
}
@media (min-width: 1440px) {
  .about__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 73px;
  }
}
.about__content--text {
  line-height: 1.5em;
  padding-right: 1.5em;
}
@media (min-width: 1280px) {
  .about__content--text {
    padding-right: 1.75em;
  }
}
@media (min-width: 1440px) {
  .about__content--text {
    width: 44%;
  }
}

.gallery {
  background-color: #FAFAFA;
  padding: 24px 16px;
}
@media (min-width: 768px) {
  .gallery {
    padding: 24px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 20px 120px;
  }
}
@media (min-width: 1440px) {
  .gallery {
    padding: 20px 160px;
  }
}
@media (min-width: 768px) {
  .gallery__title {
    padding: 10px 0;
  }
}
@media (min-width: 1280px) {
  .gallery__title {
    padding: 20px 40px;
  }
}
@media (min-width: 1440px) {
  .gallery__title {
    padding: 20px 0 40px 0;
  }
}
.gallery__images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .gallery__images {
    padding-bottom: 12px;
  }
}
@media (min-width: 1440px) {
  .gallery__images {
    padding: 24px 0;
  }
}
.gallery__img {
  max-width: 90vw;
  margin-top: 16px;
  filter: grayscale(100%);
}
@media (min-width: 768px) {
  .gallery__img {
    max-width: 224px;
    margin: 8px;
  }
}
@media (min-width: 1280px) {
  .gallery__img {
    max-width: 24vw;
    margin: 10px;
  }
}
@media (min-width: 1440px) {
  .gallery__img {
    max-width: 344px;
    margin: 12px;
  }
}
.gallery__img:hover {
  filter: none;
}

.comments {
  padding: 16px;
  max-width: 100vw;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .comments {
    padding: 24px;
  }
}
@media (min-width: 1280px) {
  .comments {
    padding: 40px 160px 20px 160px;
  }
}
@media (min-width: 1440px) {
  .comments {
    padding: 40px 180px 20px 180px;
  }
}
.comments__form-wrap {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E1E1E1;
  padding: 16px 0;
}
@media (min-width: 768px) {
  .comments__form-wrap {
    padding-bottom: 86px;
  }
}
@media (min-width: 768px) {
  .comments__form-wrap, .comments__stream {
    width: 520px;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .comments__stream {
    padding-bottom: 20px;
  }
}
.comments__avatar {
  background-image: none;
  background-color: #E1E1E1;
  border-radius: 50%;
  height: 2.5em;
  min-width: 2.5em;
}
.comments__avatar--form {
  background-image: url(../assets/images/mohan-muruge.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 40px;
  height: 3em;
  min-width: 3em;
}
.comments__label {
  color: #AFAFAF;
  font-weight: 600;
  margin-top: 1.25em;
}
.comments__user-name {
  height: 48px;
}
.comments__add-comment {
  height: 90px;
}
@media (min-width: 768px) {
  .comments__button {
    position: absolute;
    right: 124px;
    width: 159px;
  }
}
@media (min-width: 1280px) {
  .comments__button {
    right: 380px;
    width: 160px;
  }
}
@media (min-width: 1440px) {
  .comments__button {
    right: 460px;
  }
}
.comments__button:focus {
  outline: #000000;
}
.comments__container {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #E1E1E1;
  padding: 16px 0;
}
@media (min-width: 768px) {
  .comments__container {
    padding: 24px 0 6px 0;
  }
}
.comments__block {
  max-width: 210px;
  padding-left: 16px;
}
@media (min-width: 768px) {
  .comments__block {
    max-width: 100%;
  }
}
.comments__block--name, .comments__block--date {
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .comments__block--name, .comments__block--date {
    vertical-align: baseline;
    font-size: 16px;
  }
}
.comments__block--name {
  padding-bottom: 6px;
}
.comments__block--date {
  color: #AFAFAF;
  font-size: 13px;
  position: absolute;
  right: 16px;
}
@media (min-width: 768px) {
  .comments__block--date {
    position: static;
    padding-left: 10px;
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .comments__block--comment {
    margin-top: 0;
    line-height: 20px;
  }
}

input, textarea {
  width: 224px;
  padding: 1.25em;
  margin: 0.5em 0;
  background-color: #FAFAFA;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  display: block;
  box-sizing: border-box;
  font-family: "Avenir", "Roboto", sans-serif;
  resize: none;
}
@media (min-width: 768px) {
  input, textarea {
    width: 59vw;
  }
}
@media (min-width: 1280px) {
  input, textarea {
    width: 460px;
  }
}
input:focus, textarea:focus {
  outline: none;
  border: 2px solid #323232;
  padding: 1.15em;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #323232;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #323232;
}
input::placeholder, textarea::placeholder {
  color: #323232;
}/*# sourceMappingURL=main.css.map */