@use './partials/typography' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;



html, body, main, section, footer, h1, h2, h3, h5, img {
    margin: 0;
	padding: 0;
}
body {
    color: #323232;
    max-width: 100%;
    font-family: 'Avenir', 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 900;
}
h2 {
    font-size: 24px;
    line-height: 22px;
    font-weight: 900;
}
h4{
    font-size: 16px;
    line-height: 18px;
}
h5 {
    font-size: 13px;
    // line-height: 20;
    font-weight: 600;
}
p {
    font-size: 12px;
    line-height: 18px;
    @include tablet {
        font-size: 14px;
        line-height: 20px;
    }
}
.main-nav {
    background-color: $nav-footer-bg;
    color: white;
    height: 80px;
    max-width: 100%;
    
    @include tablet {
        @include flex-container($align: center, $spacing: flex-start);
    }

   &__title {
        text-align: center;
        padding: 14px 0 12px 0;
        font-weight: 400;
        line-height: 22px;

        @include tablet {
            text-align: none;
            padding-left: $tablet-spacing;
        }
    
        &--link {
            color: white;;
        }
    }

    &__list {
        @include flex-container($spacing: space-evenly);
        margin: 0;
        padding: 0; 
        @include tablet {
            justify-content: space-between;
            padding-left: $tablet-spacing;
        }
    }
    &__item {
        width: 50%;
        text-align: center;

        &--link {
            color: $nav-item;
            font-weight: 600;
            display: block;
        }
    }
}
.main-nav__item--link:hover, .main-nav__item--active {
    border-bottom: 4px solid $nav-item-hover;
    padding-bottom: 6px;
    max-width: 100%;
    color: white;
}
.hero {
    background-image: url(../assets/images/hero.jpg);
    @include background-img;
    @include flex-container($align: center);
    width: 100%;
    height: 183px;
    position:relative;
     @include tablet {
         min-height: 400px;
     }

    &::after {
        content: "";
        position: absolute;     
        width: 100%;
        height: 100%;  
        background-color: $overlay;    
    }
    &__title {
        z-index: 5;
        color: white;
        padding: $mobile-spacing;
        width: 75%;
        @include tablet {
            font-size: 60px;
            line-height: 72px;
            padding: $tablet-spacing;
        }
    }
}
.about {
    padding: $mobile-spacing;

    @include tablet {
        padding: $tablet-spacing;
    }

    &__title {
        line-height: 32px;
        padding-bottom: $mobile-spacing;
        padding-top: 12px;
        font-weight: 900;

        @include tablet {
            padding: $tablet-spacing 0;
            font-size: 36px;
            line-height: 44px;
        }
    }
    &__img {
        width: 90vw;
        display: block;
        margin: auto;

        @include tablet {
            width: 94vw;
            min-height: 362px;
        }
    }
    
    &__quote {
        font-weight: 600;
        @include tablet {
            @include about-h4;
        }
        
        &--name {
            font-weight: 600;

            @include tablet {
                font-size: 16px;
                
            }
        }
    }
    &__content-title {
        font-weight: 600;
        padding-top: $mobile-spacing;

        @include tablet {
            @include about-h4;
            margin-bottom: 0;
        }
    }
    &__content {
        @include tablet {
            @include flex-container($align: flex-start ,$spacing: space-between);
        

        &--text {
            
                font-size: 14px;
                line-height: 22px;
                padding-right: 24px;
            }
            
        }
        
    }
}

.gallery {
    background-color: $gallery-bg;
    padding: $mobile-spacing;

    @include tablet {
        padding: $tablet-spacing;
    }
    
    @include desktop {
        padding: 20px 160px;
    }

    &__title {
        padding: $mobile-spacing 0;  

        @include tablet {
            padding: $tablet-spacing 0;
            font-size: 36px;
            line-height: 44px;
        }
    }

    &__images {
        @include flex-container($spacing: center, $wrap: wrap);
        
        @include tablet {
            justify-content: space-between;
        }
        @include desktop {
        // justify-content: space-evenly;
        }
    }
    &__img {
        max-width: 90vw;
        margin-top: 16px;
        
        @include tablet {
            max-width: 224px;
            margin-top: $tablet-spacing;
        }

        @include desktop {
        max-width: 244px;
        margin-top: 12px;
        }
    }
}

.footer {
    background-color: $nav-footer-bg;
    color: white;
    padding: $mobile-spacing;
    max-width: 100%;
    @include tablet {
        padding: $tablet-spacing;
    }
    
    &__row {
        
        @include tablet {
            @include flex-container($align: baseline, $spacing: space-between);
            position: relative;
        }
    }
        &__title {
            font-size:36px;
            padding: 2*$mobile-spacing 0;
            
            @include tablet {
                padding-bottom: 2*$tablet-spacing;
            }
        }

        &__social {
            padding-bottom: $mobile-spacing;
    
            @include tablet {
                position: absolute;
                left: 43%;
                bottom: 25%;
               
            }
    
            &--icon {
                min-height: 22px;
                padding-right: 2*$mobile-spacing;
            }
        }

        &__logo {
            display: none;
            
            @include tablet {
                display: inline-block;
                font-size: 24px;
                font-weight: 400;            
            }
            @include desktop {
                display: block;
            }
        }
    

    &__cols {
        
        @include tablet {
            @include flex-container($spacing: space-between);
        }
    }  
    &__contact {
        margin-bottom: 1.5*$mobile-spacing;
    }
    &__name {
        @include tablet {
            font-size: 16px;
            line-height: 24px;
        }
    } 
    // &__info {
    //     @include tablet {
    //         font-size: 14px;
    //         line-height: 20px;
    //     }
    // }
    &__email--link {
        color: white; 
}   
    &__copy {
        width: 70%;

        &--link {
            color: white;
        }
    }
    
    br.footer__copy--break {
        @include tablet {
            display: none;
        }
    }
}



