@use './partials/typography' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;



html, body, main, section, footer, h1, h2, h3, h5, img {
    margin: 0;
	padding: 0;
}
body {
    color: #323232;
    max-width: 100%;
    font-family: 'Avenir', 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
h1 {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 900;
}
h2 {
    font-size: 1.5em;
    line-height: 1.375em;
    font-weight: 900;
    @include tablet {
        font-size: 2.25em;
    }
}
h4{
    font-size: 1em;
    line-height: 1.25em;
}
h5 {
    font-size: 0.8125em;
    font-weight: 600;
}
p {
    font-size: 0.75rem;
    line-height: 1.25em;
    @include tablet {
        font-size: 0.875em;
        line-height: 1.25em;
    }
}
.main-nav {
    background-color: $nav-footer-bg;
    color: white;
    height: 80px;
    max-width: 100%;
    box-sizing: border-box;
    
    @include tablet {
        @include flex-container($align: flex-end, $spacing: flex-start);
    }
    @include desktop {
        padding-left: 160px;
    }
    @include desktop-xl {
        padding-left: $desktop-side-spacing;
    }

   &__title {
        display: block;
        margin: auto;
        padding: 14px 0 12px 0;
        max-height: 24px;

        @include tablet {
            margin-left: 24px;
            margin-bottom: 20px;
        }
        @include desktop {         
            margin-left: 0;
        }
        @include desktop-xl {         
            margin-left: 4px;
        }
    
        &--link {
            color: white;;
        }
    }

    &__list {
        @include flex-container($spacing: space-evenly);
        margin: 0;
        padding: 0; 
        @include tablet {
            @include flex-container($align: baseline, $spacing: space-between);
            padding-left: 2*$tablet-spacing;
        }
        @include desktop {
            font-size: 0.875em;
        }
    }
    &__item {
        width: 50%;
        text-align: center;
        @include tablet {
            width: 90px;
            padding-right: 2*$tablet-spacing;
        }
        @include desktop {
            width: 80px;
            padding-right: $tablet-spacing;
        }
        @include desktop-xl {         
            padding-right: 45px;
        }

        &--link {
            color: $nav-item;
            font-weight: 600;
            display: block;
        }
    }
}
.main-nav__item--link:hover, .main-nav__item--active {
    border-bottom: 4px solid $nav-item-hover;
    padding-bottom: 10px;
    max-width: 100%;
    color: white;
    
    @include tablet {
        padding-bottom: 24px;
    }
}
.hero {
    background-image: url(../assets/images/hero.jpg);
    @include background-img;
    @include flex-container($align: center);
    width: 100%;
    height: 183px;
    position:relative;
     
    @include tablet {
         min-height: 400px;
     }
     @include desktop {
        min-height: 590px;
     }
     @include desktop-xl {
        min-height: 670px;
     }

    &::after {
        content: "";
        position: absolute;     
        width: 100%;
        height: 100%;  
        background-color: $overlay;    
    }
    &__title {
        z-index: 5;
        color: white;
        padding: 0 $mobile-spacing;
        width: 75%;
        @include tablet {
            font-size: 60px;
            line-height: 72px;
            padding: $tablet-spacing;
        }
        @include desktop {
            padding: $desktop-side-spacing;
            width: 50%;
            line-height: 1.5em;
            position: absolute;
            top: 0;
        }
        @include desktop-xl {
            width: 45%;
        }
    }
}
.about {
    padding: $mobile-spacing;

    @include tablet {
        padding: $tablet-spacing;
    }
    @include desktop {
        padding: $tablet-spacing 160px;
    }
    @include desktop-xl {
        padding: $tablet-spacing $desktop-side-spacing;
    }

    &__title {
        line-height: 2em;
        padding-bottom: 12px;
        font-weight: 900;

        @include tablet {
            font-size: 2.25em;
        }
        @include desktop {
            padding: 6px 0 28px 0;
        }
        @include desktop-xl {
            padding-bottom: 28px;
        }
    }
    &__img {
        width: 90vw;
        display: block;
        margin: auto;

        @include tablet {
            width: 94vw;
            min-height: 362px;
        }
        @include desktop {
            max-width: 62vw;       
        }
        @include desktop-xl {         
            min-height: 450px;
        }
    }
    
    &__quote {
        font-weight: 600;
        @include tablet {
            @include about-h4;
        }
        @include desktop {
            padding-left: 2*$desktop-spacing;
            width: 73%;
        }
        @include desktop-xl {
            padding-left: 90px;
        }
        
        &--name {
            font-weight: 600;
            font-size: 0.875em;
            padding-top: 6px;

            @include tablet {
                font-size: 1em;   
            }
            @include desktop {
                padding-left: 2*$desktop-spacing;
            }
            @include desktop-xl {
                padding-left: 90px;
            }
        }
    }
    &__content-title {
        font-weight: 600;
        padding-top: 0.5*$mobile-spacing;

        @include tablet {
            @include about-h4;
            margin-bottom: 0;
        }
        @include desktop {
            padding-left: 2*$desktop-spacing;
        }
        @include desktop-xl {
            padding-left: 90px;
        }
    }
    &__content {
        @include tablet {
            @include flex-container($align: flex-start ,$spacing: space-between);
        }
        @include desktop {
            @include flex-container($spacing: flex-start);
            padding: 0 2*$desktop-spacing;
        }  
        @include desktop-xl {
            @include flex-container($align: flex-start, $spacing: space-evenly);
            padding-left: 73px;
        } 
        &--text {
            line-height: 1.5em;
            padding-right: 1.5em;
         
            @include desktop {
                padding-right: 1.75em;
                
            } 
            @include desktop-xl {
                width: 44%;
            }
        }
    }
}

.gallery {
    background-color: $gallery-bg;
    padding: 1.5*$mobile-spacing $mobile-spacing;

    @include tablet {
        padding: $tablet-spacing;
    }
    @include desktop {
        padding: 20px 120px;
    }
    @include desktop-xl {
        padding: 20px $desktop-side-spacing;
    }

    &__title { 

        @include tablet {
            padding: 10px 0;
        }
        @include desktop {
            padding: 20px 40px;
        }
        @include desktop-xl {
            padding: 20px 0 40px 0;
        }
    }

    &__images {
        @include flex-container($spacing: center, $wrap: wrap);
        padding-bottom: $mobile-spacing;
        flex-direction: row;
        
        @include tablet {
            justify-content: space-between;
            padding-bottom: 0.5*$tablet-spacing;
        }
        @media (min width: 944px) {
            flex: 33%;
            max-width: 33%;
        }
        @include desktop {
            justify-content: center;
        }
        @include desktop-xl {
            justify-content: space-between;
            padding: $tablet-spacing 0;
        }
    }
    &__img {
        max-width: 90vw;
        margin-top: 16px;
        
        @include tablet {
            max-width: 224px;
            margin-top: $tablet-spacing;
        }
        @include desktop {
            max-width: 24vw;
            margin: 10px;
            }
        @include desktop-xl {
            max-width: 344px;
            margin: 12px 0 ;
        }
    }
}

.footer {
    background-color: $nav-footer-bg;
    color: white;
    padding: $mobile-spacing;
    max-width: 100%;
    @include tablet {
        padding: $tablet-spacing;
    }
    @include desktop {
        padding-left: $desktop-side-spacing;
        padding-right: $desktop-side-spacing;
    }
    
    &__row {
        
        @include tablet {
            @include flex-container($align: baseline, $spacing: space-between);
            position: relative;
        }
        @include desktop {
            @include flex-container($spacing: flex-start);
        }
    }
        &__title {
            font-size: 2.25em;
            padding: 1.5*$mobile-spacing 0;
            
            @include tablet {
                padding-bottom: 2*$tablet-spacing;
            }
            @include desktop {
                margin-right: 60px;
            }
        }

        &__social {
            padding-bottom: 2*$mobile-spacing;
    
            @include tablet {
                position: absolute;
                left: 43%;
                bottom: 18%;
               
            }
            @include desktop {
                position: static;
            }
            
            &--icon {
                min-height: 1.375em;
                padding-right: 2*$mobile-spacing;
            }
        }

        &__logo {
            display: none;
            
            @include tablet {
                display: inline-block;
                font-size: 1.5em;
                font-weight: 400;            
            }
            @include desktop {
                position: absolute;
                right: 0;
            }
        }
    

    &__cols {
        
        @include tablet {
            @include flex-container($spacing: space-between);
        }
        @include desktop {
            @include flex-container($spacing: flex-start);
        }
    }  
    &__contact {
        margin-bottom: 1.5*$mobile-spacing;
        @include tablet {
            // margin-right: 0;
            margin-bottom: 0;
        }
        @include desktop {
            margin-right: 60px;
        }
    }
    &__contact:nth-child(2) {
    
        @include desktop {
            margin-right: 80px;
        }
        @include desktop-xl {
            margin-right: 80px;
        }
    }
    &__name {
        @include tablet {
            font-size: 1rem;
            line-height: 1.5em;
        }
    } 
    &__email--link {
        color: white; 
}   
    &__copy {
        width: 70%;

        &--link {
            color: white;
        }
    }   
    br.footer__copy--break {
        @include tablet {
            display: none;
        }
    }
}



