@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Linotype-Avenir-Next-LT-Pro-Bold.ttf") format("truetype"), url("../../assets/fonts/Linotype-AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Linotype-Avenir-Next-LT-Pro-Demi.ttf") format("truetype"), url("../../assets/fonts/Linotype-AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Linotype-AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
html, body, main, section, footer, h1, h2, h3, h5, img {
  margin: 0;
  padding: 0;
}

body {
  color: #323232;
  max-width: 100%;
  font-family: "Avenir", "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 900;
}

h2 {
  font-size: 1.5em;
  line-height: 1.375em;
  font-weight: 900;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.25em;
  }
}

h4 {
  font-size: 1em;
  line-height: 1.25em;
}

h5 {
  font-size: 0.8125em;
  font-weight: 600;
}

p {
  font-size: 0.75rem;
  line-height: 1.25em;
}
@media (min-width: 768px) {
  p {
    font-size: 0.875em;
    line-height: 1.25em;
  }
}

.main-nav {
  background-color: #323232;
  color: white;
  height: 80px;
  max-width: 100%;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .main-nav {
    padding-left: 160px;
  }
}
@media (min-width: 1440px) {
  .main-nav {
    padding-left: 180px;
  }
}
.main-nav__title {
  display: block;
  margin: auto;
  padding: 14px 0 12px 0;
  max-height: 24px;
}
@media (min-width: 768px) {
  .main-nav__title {
    margin-left: 24px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1280px) {
  .main-nav__title {
    margin-left: 0;
  }
}
@media (min-width: 1440px) {
  .main-nav__title {
    margin-left: 4px;
  }
}
.main-nav__title--link {
  color: white;
}
.main-nav__list {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 48px;
  }
}
@media (min-width: 1280px) {
  .main-nav__list {
    font-size: 0.875em;
  }
}
.main-nav__item {
  width: 50%;
  text-align: center;
}
@media (min-width: 768px) {
  .main-nav__item {
    width: 90px;
    padding-right: 48px;
  }
}
@media (min-width: 1280px) {
  .main-nav__item {
    width: 80px;
    padding-right: 24px;
  }
}
@media (min-width: 1440px) {
  .main-nav__item {
    padding-right: 45px;
  }
}
.main-nav__item--link {
  color: #AFAFAF;
  font-weight: 600;
  display: block;
}

.main-nav__item--link:hover, .main-nav__item--active {
  border-bottom: 4px solid white;
  padding-bottom: 10px;
  max-width: 100%;
  color: white;
}
@media (min-width: 768px) {
  .main-nav__item--link:hover, .main-nav__item--active {
    padding-bottom: 24px;
  }
}

.hero {
  background-image: url(../assets/images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  width: 100%;
  height: 183px;
  position: relative;
}
@media (min-width: 768px) {
  .hero {
    min-height: 400px;
  }
}
@media (min-width: 1280px) {
  .hero {
    min-height: 590px;
  }
}
@media (min-width: 1440px) {
  .hero {
    min-height: 670px;
  }
}
.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}
.hero__title {
  z-index: 5;
  color: white;
  padding: 0 16px;
  width: 75%;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 60px;
    line-height: 72px;
    padding: 24px;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    padding: 180px;
    width: 50%;
    line-height: 1.5em;
    position: absolute;
    top: 0;
  }
}
@media (min-width: 1440px) {
  .hero__title {
    width: 45%;
  }
}

.about {
  padding: 16px;
}
@media (min-width: 768px) {
  .about {
    padding: 24px;
  }
}
@media (min-width: 1280px) {
  .about {
    padding: 24px 160px;
  }
}
@media (min-width: 1440px) {
  .about {
    padding: 24px 180px;
  }
}
.about__title {
  line-height: 2em;
  padding-bottom: 12px;
  font-weight: 900;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 2.25em;
  }
}
@media (min-width: 1280px) {
  .about__title {
    padding: 6px 0 28px 0;
  }
}
@media (min-width: 1440px) {
  .about__title {
    padding-bottom: 28px;
  }
}
.about__img {
  width: 90vw;
  display: block;
  margin: auto;
}
@media (min-width: 768px) {
  .about__img {
    width: 94vw;
    min-height: 362px;
  }
}
@media (min-width: 1280px) {
  .about__img {
    max-width: 62vw;
  }
}
@media (min-width: 1440px) {
  .about__img {
    min-height: 450px;
  }
}
.about__quote {
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__quote {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 900;
    padding-top: 12px;
  }
}
@media (min-width: 1280px) {
  .about__quote {
    padding-left: 80px;
    width: 73%;
  }
}
@media (min-width: 1440px) {
  .about__quote {
    padding-left: 90px;
  }
}
.about__quote--name {
  font-weight: 600;
  font-size: 0.875em;
  padding-top: 6px;
}
@media (min-width: 768px) {
  .about__quote--name {
    font-size: 1em;
  }
}
@media (min-width: 1280px) {
  .about__quote--name {
    padding-left: 80px;
  }
}
@media (min-width: 1440px) {
  .about__quote--name {
    padding-left: 90px;
  }
}
.about__content-title {
  font-weight: 600;
  padding-top: 8px;
}
@media (min-width: 768px) {
  .about__content-title {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 900;
    padding-top: 12px;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .about__content-title {
    padding-left: 80px;
  }
}
@media (min-width: 1440px) {
  .about__content-title {
    padding-left: 90px;
  }
}
@media (min-width: 768px) {
  .about__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .about__content {
    display: flex;
    justify-content: flex-start;
    padding: 0 80px;
  }
}
@media (min-width: 1440px) {
  .about__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 73px;
  }
}
.about__content--text {
  line-height: 1.5em;
  padding-right: 1.5em;
}
@media (min-width: 1280px) {
  .about__content--text {
    padding-right: 1.75em;
  }
}
@media (min-width: 1440px) {
  .about__content--text {
    width: 44%;
  }
}

.gallery {
  background-color: #FAFAFA;
  padding: 24px 16px;
}
@media (min-width: 768px) {
  .gallery {
    padding: 24px;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 20px 120px;
  }
}
@media (min-width: 1440px) {
  .gallery {
    padding: 20px 180px;
  }
}
@media (min-width: 768px) {
  .gallery__title {
    padding: 10px 0;
  }
}
@media (min-width: 1280px) {
  .gallery__title {
    padding: 20px 40px;
  }
}
@media (min-width: 1440px) {
  .gallery__title {
    padding: 20px 0 40px 0;
  }
}
.gallery__images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 16px;
  flex-direction: row;
}
@media (min-width: 768px) {
  .gallery__images {
    justify-content: space-between;
    padding-bottom: 12px;
  }
}
@media (min-width: 1280px) {
  .gallery__images {
    justify-content: center;
  }
}
@media (min-width: 1440px) {
  .gallery__images {
    justify-content: space-between;
    padding: 24px 0;
  }
}
.gallery__img {
  max-width: 90vw;
  margin-top: 16px;
  filter: grayscale(100%);
}
@media (min-width: 768px) {
  .gallery__img {
    max-width: 224px;
    margin-top: 24px;
  }
}
@media (min-width: 1280px) {
  .gallery__img {
    max-width: 24vw;
    margin: 10px;
  }
}
@media (min-width: 1440px) {
  .gallery__img {
    max-width: 344px;
    margin: 12px 0;
  }
}
.gallery__img:hover {
  filter: none;
}

.footer {
  background-color: #323232;
  color: white;
  padding: 16px;
  max-width: 100%;
}
@media (min-width: 768px) {
  .footer {
    padding: 24px;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding-left: 180px;
    padding-right: 180px;
  }
}
@media (min-width: 768px) {
  .footer__row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .footer__row {
    display: flex;
    justify-content: flex-start;
  }
}
.footer__title {
  font-size: 2.25em;
  padding: 24px 0;
}
@media (min-width: 768px) {
  .footer__title {
    padding-bottom: 48px;
  }
}
@media (min-width: 1280px) {
  .footer__title {
    margin-right: 60px;
  }
}
.footer__social {
  padding-bottom: 32px;
}
@media (min-width: 768px) {
  .footer__social {
    position: absolute;
    left: 43%;
    bottom: 18%;
  }
}
@media (min-width: 1280px) {
  .footer__social {
    position: static;
  }
}
.footer__social-icon {
  min-height: 1.375em;
  padding-right: 32px;
}
.footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    position: absolute;
    right: 0;
  }
}
.footer__logo--link {
  color: white;
}
@media (min-width: 768px) {
  .footer__cols {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__cols {
    display: flex;
    justify-content: flex-start;
  }
}
.footer__contact {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .footer__contact {
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .footer__contact {
    margin-right: 60px;
  }
}
@media (min-width: 1280px) {
  .footer__contact:nth-child(2) {
    margin-right: 80px;
  }
}
@media (min-width: 1440px) {
  .footer__contact:nth-child(2) {
    margin-right: 80px;
  }
}
@media (min-width: 768px) {
  .footer__name {
    font-size: 1rem;
    line-height: 1.5em;
  }
}
.footer__email--link {
  color: white;
}
.footer__copy {
  width: 70%;
}
.footer__copy--link {
  color: white;
}
@media (min-width: 768px) {
  .footer br.footer__copy--break {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */